/* General styles */

* {
  box-sizing: border-box;
  color: #333;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background: url("./assets/png/header-bg.png");
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

a:visited {
  color: none;
}

a:hover {
  color: #00BF78;
}

/* Custom styles */

/* Обертка, ограничивающая ширину контента */
.content-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.navigation-list {
  list-style: none;
  display: flex;
  gap: 0 28px;
  padding: 0;
  margin: 0;
}

.header-logo {
  font-weight: 700;
  font-size: 24px;
}

.phone-number {
  font-size: 18px;
  font-weight: 500;
}

.schedule {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  font-weight: 400;
}

.header-content {
  height: 510px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main {
  width: 540px;
}

.header-desc {
  font-size: 20px;
  font-weight: 400;
  margin: 18px 0 60px 0;
}

.header-button {
  border: none;
  border-radius: 24px;
  padding: 17px 30px;
  background: #FB9475;
  color: #FFF;
  cursor: pointer;
}

.header-image-container {
  position: absolute;
  bottom: 0;
  right: 85px;
  width: 524px;
  height: 510px;
  z-index: 10;
  overflow: hidden;
}

.header-image-container::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -110px;
  width: 472px;
  height: 472px;
  border-radius: 50%;
  background-color: #FB9475;
  z-index: -1;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px 0;
}

/* About section */

.about-section {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px 0;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* About company */

.about-company-text {
  max-width: 540px;
}

.about-company-text .about-company-upper-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.about-company-text .about-company-lower-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.about-company-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 445px;
  height: 296px;
  background: url("./assets/png/about-media.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-company-media span {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
}

/* About service */

.about-service-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Footer */

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.copyrights {
  display: flex;
  flex-direction: column;
}

.copyrights a {
  color: #278AFF;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

.copyrights span {
  font-size: 12px;
  font-weight: 400;
}

.footer-content .navigation-list a {
  font-size: 12px;
  font-weight: 400;
}