/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  .service-cards-container {
    gap: 32px 0;
    justify-content: space-between;
  }

  .service-card {
    width: calc(50% - 25px);
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .price-and-service-section {
    .navigation-list {
      justify-content: center;
    }
  }

  .service-card {
    &__desc {
      font-size: 12px;
    }

    &__price {
      font-size: 16px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .service-card {
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .service-card {
    &__price {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}