/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  .works-section {
    &__header {
      flex-direction: column;
    }
  }

  .arrows {
    margin: 52px 0 12px 0;
  }

  .carousel {
    margin: 0 0 116px 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .carousel-card {
    max-width: 280px;
    min-width: 280px;
    min-height: 280px;
    max-height: 280px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}