.masters-section {
  padding: 80px 0 80px 0;
  background: #F8F6F7;

  &__desc {
    font-size: 16px;
    font-weight: 400;
    margin: 32px 0 24px 0;
  }

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
  }
}

.master-card {
  position: relative;
  max-width: 255px;

  &__name {
    margin: 20px 0 8px 0;
  }

  &__subdesc {
    font-size: 12px;
    font-weight: 300;
    margin: 16px 0 0 0;
    text-transform: uppercase;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: 100%;
    max-height: 300px;
    border-radius: 8px;

    img {
      width: 100%;
    }
  }

  &__action {
    display: flex;
    cursor: pointer;
    position: absolute;
    width: 255px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    opacity: 0;
    color: #FFF;

    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }

  &__action:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}

@import './_media'