/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  .content-wrapper {
    padding: 0 30px 0 30px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .content-wrapper {
    padding: 0 10px 0 10px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h4 {
    font-size: 14px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}