@import './_libs';
@import './_variables';
@import './components/header/_header';
@import './components/about/_about';
@import './components/examples/_examples';
@import './components/price-and-service/_price-and-service';
@import './components/masters/_masters';
@import './components/works/_works';
@import './components/contacts/_contacts';
@import './components/footer/_footer';

/* General styles */

* {
  box-sizing: border-box;
  color: $font-color-primary;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  min-width: 320px;
  scroll-behavior: smooth;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background: url("../assets/png/header-bg.png");
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

a:hover {
  color: $font-color-secondary;
}

button {
  border: none;
  border-radius: 24px;
  background: #FB9475;
  color: #FFF;
  cursor: pointer;
}

input {
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
}

/* Custom styles */

/* Обертка, ограничивающая ширину контента */
.content-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 14px 28px;
  padding: 0;
  margin: 0;
}

.font-xlarge {
  font-size: 20px;
  font-weight: 400;
}

.font-large {
  font-size: 16px;
  font-weight: 400;
}

.font-medium {
  font-size: 14px;
  font-weight: 400;
}

.font-small {
  font-size: 12px;
  font-weight: 400;
}

.mobile-overlay {
  width: 100%;
  height: 0%;

  position: fixed;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
  transition: .2s;

  &__close-button-container {
    height: 45px;
    display: flex;
    align-items: flex-end;
  }

  &__close-button {
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;

      top: 100%;
      left: 50%;
      width: 24px;
      height: 2px;

      background-color: $font-color-secondary;
      transform: rotate(45deg);
    }

    &:after {
      content: "";
      position: absolute;

      top: 100%;
      left: 0;
      width: 24px;
      height: 2px;

      background-color: $font-color-secondary;
      transform: rotate(-45deg);
    }
  }

  #mobile-navigation {
    height: calc(100% - 48px);
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  a {
    color: $font-color-secondary;
  }
}

@import './_media';